body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: aliceblue;
}

.container{
    display: flex;
    flex-direction: column;
    width: 10%;
    margin: auto;
}

h3 {
    text-align: center;
     
}

button{
    background-color: coral;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 30px;
}

button:hover{
    background-color: crimson;
}